.buttonReturn {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.buttonReturn i {
  font-size: 2rem;
  color: #333;
}

.addArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}

.title {
  width: 50%;
}

.thread {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.formContent {
  width: 100%;
  /* display: flex;
  justify-content: space-evenly;
  align-items: center; */
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.recordMessage {
  display: none;
}

.deleteMessage {
  display: none;
}

.deletedMessage {
  display: none;
}