.addArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}

.title {
  width: 50%;
}

.thread {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.thread>div {
  width: 20%;
}

.formContent {
  width: 100%;
  /* display: flex;
  justify-content: space-evenly;
  align-items: center; */
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.recordMessage {
  display: none;
}

.deleteMessage {
  display: none;
}