#buttonOutput {
    visibility: hidden;
}

#copied {
    color: rgb(17, 206, 0);
}

.outputText {
    display: block;
    position: relative;
    visibility: hidden;
}

#copyTextToClipboard {
    position: absolute;
    top: 0.5rem;
    right: 1.2rem;
}


.outputCode {
    display: block;
    position: relative;
}

#copyCodeToClipboard {
    position: absolute;
    top: 0.5rem;
    right: 1.2rem;
}

.codeArea {
    visibility: hidden;
}

#sisi img {
    width: 50px;
    position: fixed;
    top: 0px;
    right: 0px;
}